{% extends 'app_base.html' %}
{% load staticfiles %}

{% block content %}
<div class="the-container">
	<div class="first-section"></div>
	<div class="second-section">
		<div class="row">
		     <div class="col s4">
		     	<div class="gift-stock">
		     		
		     	</div>
		     </div>
		     <div class="col s4">
		     	<div class="gift-stock">
		     		
		     	</div>
		     </div>
		     <div class="col s4">
		     	<div class="gift-stock">
		     		
		     	</div>
		     </div>
	    </div>
	</div>

	<div class="third-section">
		<div>
			<h5>Welcome to our Store</h5>
			<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
		</div>
	</div>

	<div class="featured">
		<h5>FEATURED ITEMS</h5>
		<div class="row">
		     <div class="col s3">
		     	<div class="featured-item">
		     		<img src="{% static 'img/small-gift-3.jpeg' %}">
		     	</div>
		     </div>
		     <div class="col s3">
		     	<div class="featured-item">
		     		<img src="{% static 'img/small-gift-3.jpeg' %}">
		     	</div>
		     </div>
		     <div class="col s3">
		     	<div class="featured-item">
		     		<img src="{% static 'img/small-gift-3.jpeg' %}">
		     	</div>
		     </div>
		     <div class="col s3">
		     	<div class="featured-item">
		     		<img src="{% static 'img/small-gift-3.jpeg' %}">
		     	</div>
		     </div>
	    </div>
	</div>
</div>	
{% endblock content %}







